@media screen and (max-width: 320px) {
  .MainBlock {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . . . ." ". . title . ." ". . content . ." ". . . . .";
    -ms-grid-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    -ms-grid-rows: 0.2fr 0.6fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 0.6fr 4fr 0.2fr;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    margin: 5% 0 5% 20%;
  }

  .inputContainer {
    grid-area: content;
    width: 100%;
    height: 100%;
    border: solid #557aff 4px;
    border-radius: 2vw;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . ." ". form ." ". tasks ." ". . .";
    -ms-grid-columns: 0.1fr 2fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    -ms-grid-rows: 0.1fr 2% 0.5fr 2% 2fr 2% 0.1fr;
    grid-template-rows: 0.1fr 0.5fr 2fr 0.1fr;
    grid-row-gap: 2%;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .MainBlock {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . . . ." ". . title . ." ". . content . ." ". . . . .";
    -ms-grid-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    -ms-grid-rows: 0.2fr 0.6fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 0.6fr 4fr 0.2fr;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    margin: 5% 0 5% 20%;
  }

  .inputContainer {
    grid-area: content;
    width: 100%;
    height: 100%;
    border: solid #557aff 4px;
    border-radius: 2vw;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . ." ". form ." ". tasks ." ". . .";
    -ms-grid-columns: 0.1fr 2fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    -ms-grid-rows: 0.1fr 2% 0.5fr 2% 2fr 2% 0.1fr;
    grid-template-rows: 0.1fr 0.5fr 2fr 0.1fr;
    grid-row-gap: 2%;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .MainBlock {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . . . ." ". . title . ." ". . content . ." ". . . . .";
    -ms-grid-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    -ms-grid-rows: 0.2fr 0.6fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 0.6fr 4fr 0.2fr;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    margin: 5% 0 5% 20%;
  }

  .inputContainer {
    grid-area: content;
    width: 100%;
    height: 100%;
    border: solid #557aff 4px;
    border-radius: 2vw;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . ." ". form ." ". tasks ." ". . .";
    -ms-grid-columns: 0.1fr 2fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    -ms-grid-rows: 0.1fr 2% 0.5fr 2% 2fr 2% 0.1fr;
    grid-template-rows: 0.1fr 0.5fr 2fr 0.1fr;
    grid-row-gap: 2%;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .MainBlock {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . . . ." ". . title . ." ". . content . ." ". . . . .";
    -ms-grid-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    -ms-grid-rows: 0.2fr 0.6fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 0.6fr 4fr 0.2fr;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    margin: 5% 0 5% 20%;
  }

  .inputContainer {
    grid-area: content;
    width: 100%;
    height: 100%;
    border: solid #557aff 4px;
    border-radius: 2vw;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . ." ". form ." ". tasks ." ". . .";
    -ms-grid-columns: 0.1fr 2fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    -ms-grid-rows: 0.1fr 2% 0.5fr 2% 2fr 2% 0.1fr;
    grid-template-rows: 0.1fr 0.5fr 2fr 0.1fr;
    grid-row-gap: 2%;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .MainBlock {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . . . ." ". . title . ." ". . content . ." ". . . . .";
    -ms-grid-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    -ms-grid-rows: 0.2fr 0.6fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 0.6fr 4fr 0.2fr;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    margin: 5% 0 5% 20%;
  }

  .inputContainer {
    grid-area: content;
    width: 100%;
    height: 100%;
    border: solid #557aff 4px;
    border-radius: 2vw;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . ." ". form ." ". tasks ." ". . .";
    -ms-grid-columns: 0.1fr 2fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    -ms-grid-rows: 0.1fr 2% 0.5fr 2% 2fr 2% 0.1fr;
    grid-template-rows: 0.1fr 0.5fr 2fr 0.1fr;
    grid-row-gap: 2%;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1440px) {
  .MainBlock {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . . . ." ". . title . ." ". . content . ." ". . . . .";
    -ms-grid-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 0.2fr;
    -ms-grid-rows: 0.2fr 0.6fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 0.6fr 4fr 0.2fr;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    margin: 5% 0 5% 20%;
  }

  .inputContainer {
    grid-area: content;
    width: 100%;
    height: 100%;
    border: solid #557aff 4px;
    border-radius: 2vw;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . ." ". form ." ". tasks ." ". . .";
    -ms-grid-columns: 0.1fr 2fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    -ms-grid-rows: 0.1fr 2% 0.5fr 2% 2fr 2% 0.1fr;
    grid-template-rows: 0.1fr 0.5fr 2fr 0.1fr;
    grid-row-gap: 2%;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 320px) {
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inputContainer {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 320px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "input . addbtn";
    -ms-grid-columns: 2fr 0.2fr 0.5fr;
    grid-template-columns: 2fr 0.2fr 0.5fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
  }

  .inputBar {
    grid-area: input;
    width: 100%;
    height: 95%;
    border: none;
    font-size: 1.4em;
  }

  .inputBar:focus {
    grid-area: input;
    width: 100%;
    height: 93%;
    outline: none;
    border: none;
    font-size: 1.4em;
  }

  .addbtn {
    grid-area: addbtn;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }

  .plusIcon {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "input . addbtn";
    -ms-grid-columns: 2fr 0.2fr 0.5fr;
    grid-template-columns: 2fr 0.2fr 0.5fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
  }

  .inputBar {
    grid-area: input;
    width: 100%;
    height: 95%;
    border: none;
    font-size: 1.4em;
  }

  .inputBar:focus {
    grid-area: input;
    width: 100%;
    height: 93%;
    outline: none;
    border: none;
    font-size: 1.4em;
  }

  .addbtn {
    grid-area: addbtn;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }

  .plusIcon {
    width: 100%;
    height: 100%;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "input . addbtn";
    -ms-grid-columns: 2fr 0.2fr 0.5fr;
    grid-template-columns: 2fr 0.2fr 0.5fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
  }

  .inputBar {
    grid-area: input;
    width: 100%;
    height: 95%;
    border: none;
    font-size: 1.4em;
  }

  .inputBar:focus {
    grid-area: input;
    width: 100%;
    height: 93%;
    outline: none;
    border: none;
    font-size: 1.4em;
  }

  .addbtn {
    grid-area: addbtn;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }

  .plusIcon {
    width: 100%;
    height: 100%;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "input . addbtn";
    -ms-grid-columns: 2fr 0.2fr 0.5fr;
    grid-template-columns: 2fr 0.2fr 0.5fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
  }

  .inputBar {
    grid-area: input;
    width: 100%;
    height: 95%;
    border: none;
    font-size: 1.4em;
  }

  .inputBar:focus {
    grid-area: input;
    width: 100%;
    height: 93%;
    outline: none;
    border: none;
    font-size: 1.4em;
  }

  .addbtn {
    grid-area: addbtn;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }

  .plusIcon {
    width: 100%;
    height: 100%;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "input . addbtn";
    -ms-grid-columns: 2fr 0.2fr 0.5fr;
    grid-template-columns: 2fr 0.2fr 0.5fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
  }

  .inputBar {
    grid-area: input;
    width: 100%;
    height: 95%;
    border: none;
    font-size: 1.4em;
  }

  .inputBar:focus {
    grid-area: input;
    width: 100%;
    height: 93%;
    outline: none;
    border: none;
    font-size: 1.4em;
  }

  .addbtn {
    grid-area: addbtn;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }

  .plusIcon {
    width: 100%;
    height: 100%;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1440px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "input . addbtn";
    -ms-grid-columns: 2fr 0.2fr 0.5fr;
    grid-template-columns: 2fr 0.2fr 0.5fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
  }

  .inputBar {
    grid-area: input;
    width: 100%;
    height: 95%;
    border: none;
    font-size: 1.4em;
  }

  .inputBar:focus {
    grid-area: input;
    width: 100%;
    height: 93%;
    outline: none;
    border: none;
    font-size: 1.4em;
  }

  .addbtn {
    grid-area: addbtn;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }

  .plusIcon {
    width: 100%;
    height: 100%;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 320px) {
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (min-width: 1440px) {
  .inputBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inputBar:focus {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .addbtn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 320px) {
  .taskListBlock {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text . checkbtn trashbtn";
    -ms-grid-columns: 1fr 0.2fr 0.3fr 0.3fr;
    grid-template-columns: 1fr 0.2fr 0.3fr 0.3fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    border: solid #8247ff 3px;
    margin: 2% 0 2% 0;
  }

  .titleTaskList {
    list-style: none;
    font-size: 1.6em;
  }

  .checkBTN {
    grid-area: checkbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .checkIcon {
    width: 100%;
    height: 100%;
  }

  .trashBTN {
    grid-area: trashbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .trashIcon {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 321px) and (max-width: 481px) {
  .taskListBlock {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text . checkbtn trashbtn";
    -ms-grid-columns: 1fr 0.2fr 0.3fr 0.3fr;
    grid-template-columns: 1fr 0.2fr 0.3fr 0.3fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    border: solid #8247ff 3px;
    margin: 2% 0 2% 0;
  }

  .titleTaskList {
    list-style: none;
    font-size: 1.6em;
  }

  .checkBTN {
    grid-area: checkbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .checkIcon {
    width: 100%;
    height: 100%;
  }

  .trashBTN {
    grid-area: trashbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .trashIcon {
    width: 100%;
    height: 100%;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .taskListBlock {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text . checkbtn trashbtn";
    -ms-grid-columns: 1fr 0.2fr 0.3fr 0.3fr;
    grid-template-columns: 1fr 0.2fr 0.3fr 0.3fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    border: solid #8247ff 3px;
    margin: 2% 0 2% 0;
  }

  .titleTaskList {
    list-style: none;
    font-size: 1.6em;
  }

  .checkBTN {
    grid-area: checkbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .checkIcon {
    width: 100%;
    height: 100%;
  }

  .trashBTN {
    grid-area: trashbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .trashIcon {
    width: 100%;
    height: 100%;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .taskListBlock {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text . checkbtn trashbtn";
    -ms-grid-columns: 1fr 0.2fr 0.3fr 0.3fr;
    grid-template-columns: 1fr 0.2fr 0.3fr 0.3fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    border: solid #8247ff 3px;
    margin: 2% 0 2% 0;
  }

  .titleTaskList {
    list-style: none;
    font-size: 1.6em;
  }

  .checkBTN {
    grid-area: checkbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .checkIcon {
    width: 100%;
    height: 100%;
  }

  .trashBTN {
    grid-area: trashbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .trashIcon {
    width: 100%;
    height: 100%;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .taskListBlock {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text . checkbtn trashbtn";
    -ms-grid-columns: 1fr 0.2fr 0.3fr 0.3fr;
    grid-template-columns: 1fr 0.2fr 0.3fr 0.3fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    border: solid #8247ff 3px;
    margin: 2% 0 2% 0;
  }

  .titleTaskList {
    list-style: none;
    font-size: 1.6em;
  }

  .checkBTN {
    grid-area: checkbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .checkIcon {
    width: 100%;
    height: 100%;
  }

  .trashBTN {
    grid-area: trashbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .trashIcon {
    width: 100%;
    height: 100%;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 1440px) {
  .taskListBlock {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text . checkbtn trashbtn";
    -ms-grid-columns: 1fr 0.2fr 0.3fr 0.3fr;
    grid-template-columns: 1fr 0.2fr 0.3fr 0.3fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    border: solid #8247ff 3px;
    margin: 2% 0 2% 0;
  }

  .titleTaskList {
    list-style: none;
    font-size: 1.6em;
  }

  .checkBTN {
    grid-area: checkbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .checkIcon {
    width: 100%;
    height: 100%;
  }

  .trashBTN {
    grid-area: trashbtn;
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
  }

  .trashIcon {
    width: 100%;
    height: 100%;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (max-width: 320px) {
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 321px) and (max-width: 481px) {
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (min-width: 1440px) {
  .checkBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trashBTN {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media screen and (max-width: 320px) {
  .TaskContainer {
    grid-area: tasks;
    width: 100%;
    height: 100%;
  }

  .taskListContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .TaskContainer {
    grid-area: tasks;
    width: 100%;
    height: 100%;
  }

  .taskListContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .TaskContainer {
    grid-area: tasks;
    width: 100%;
    height: 100%;
  }

  .taskListContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .TaskContainer {
    grid-area: tasks;
    width: 100%;
    height: 100%;
  }

  .taskListContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .TaskContainer {
    grid-area: tasks;
    width: 100%;
    height: 100%;
  }

  .taskListContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}
@media screen and (min-width: 1440px) {
  .TaskContainer {
    grid-area: tasks;
    width: 100%;
    height: 100%;
  }

  .taskListContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}
@media screen and (max-width: 320px) {

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 1440px) {

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .formBox {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .TaskContainer {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
/*# sourceMappingURL=main.css.map */