//small mobile sized layout
@media screen and (max-width: 320px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      'input . addbtn';
    grid-template-columns: 2fr 0.2fr 0.5fr;
    grid-template-rows: 100%;
  }
    .inputBar {
      grid-area: input;
      width: 100%;
      height: 95%;
      border: none;
      font-size: 1.4em;
     }
    .inputBar:focus {
      grid-area: input;
      width: 100%;
      height: 93%;
      outline: none;
      border:none;
      font-size: 1.4em;
    }
    .addbtn {
      grid-area: addbtn;
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
    }
    .plusIcon {
      width: 100%;
      height: 100%; 
    }
}
//medium mobile sized layout
@media screen and (min-width: 321px) and (max-width: 480px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      'input . addbtn';
    grid-template-columns: 2fr 0.2fr 0.5fr;
    grid-template-rows: 100%;
  }
    .inputBar {
      grid-area: input;
      width: 100%;
      height: 95%;
      border: none;
      font-size: 1.4em;
     }
    .inputBar:focus {
      grid-area: input;
      width: 100%;
      height: 93%;
      outline: none;
      border:none;
      font-size: 1.4em;
    }
    .addbtn {
      grid-area: addbtn;
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
    }
    .plusIcon {
      width: 100%;
      height: 100%; 
    }
}
//large mobile sized layout
@media screen and (min-width: 481px) and (max-width: 800px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      'input . addbtn';
    grid-template-columns: 2fr 0.2fr 0.5fr;
    grid-template-rows: 100%;
  }
    .inputBar {
      grid-area: input;
      width: 100%;
      height: 95%;
      border: none;
      font-size: 1.4em;
     }
    .inputBar:focus {
      grid-area: input;
      width: 100%;
      height: 93%;
      outline: none;
      border:none;
      font-size: 1.4em;
    }
    .addbtn {
      grid-area: addbtn;
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
    }
    .plusIcon {
      width: 100%;
      height: 100%; 
    }
}
//small laptop sized layout
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      'input . addbtn';
    grid-template-columns: 2fr 0.2fr 0.5fr;
    grid-template-rows: 100%;
  }
    .inputBar {
      grid-area: input;
      width: 100%;
      height: 95%;
      border: none;
      font-size: 1.4em;
     }
    .inputBar:focus {
      grid-area: input;
      width: 100%;
      height: 93%;
      outline: none;
      border:none;
      font-size: 1.4em;
    }
    .addbtn {
      grid-area: addbtn;
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
    }
    .plusIcon {
      width: 100%;
      height: 100%; 
    }
}
//medium laptop sized layout
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      'input . addbtn';
    grid-template-columns: 2fr 0.2fr 0.5fr;
    grid-template-rows: 100%;
  }
    .inputBar {
      grid-area: input;
      width: 100%;
      height: 95%;
      border: none;
      font-size: 1.8em;
     }
    .inputBar:focus {
      grid-area: input;
      width: 100%;
      height: 93%;
      outline: none;
      border:none;
      font-size: 1.8em;
    }
    .addbtn {
      grid-area: addbtn;
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
    }
    .plusIcon {
      width: 100%;
      height: 100%; 
    }
}
//large mobile sized layout
@media screen and (min-width: 1440px) {
  .formBox {
    border: solid #47d0ff 2px;
    grid-area: form;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      'input . addbtn';
    grid-template-columns: 2fr 0.2fr 0.5fr;
    grid-template-rows: 100%;
  }
    .inputBar {
      grid-area: input;
      width: 100%;
      height: 95%;
      border: none;
      font-size: 3.5em;
     }
    .inputBar:focus {
      grid-area: input;
      width: 100%;
      height: 93%;
      outline: none;
      border:none;
      font-size: 3.5em;
    }
    .addbtn {
      grid-area: addbtn;
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
    }
    .plusIcon {
      width: 100%;
      height: 100%; 
    }
}
